<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <style>
    #score {
      display: inline;
    }
    #javascript {
      height: 100px;
      width: 100px;
      border: 3px solid green;
      font-size: 20px;
      text-align: center;
      padding-top: 30px;
    }
     #swift {
      height: 100px;
      width: 100px;
      border: 3px solid red;
      font-size: 20px;
      text-align: center;
      padding-top: 30px;
    }
    </style>
    <script type ="text/javascript">
        $(document).ready(function (){ 
            var socket = io.connect();
            socket.on('connect', function (data) {
              console.log('BROWSER::WE ARE USING SOCKETS!');
            })

            socket.on('update_javascript', function(data) {
              console.log('update_javascript', data);
              $('#javascript').html(data);
            })

            socket.on('update_swift', function(data) {
              console.log('update_swift', data);
              $('#swift').html(data);
            })
        })
    </script>
  </head>
  <body>
    <div id= "Score">
      <h2>JavaScript</h2>
      <p id= "javascript"></p>
      <h2>Swift</h2>
      <p id = "swift"></p>
    </div>
  </body>
</html>